@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif !important;
}

#logo {
  width: 7rem;
}

#popup {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.popup-container {
  height: 100vh;
  left: 0;
  top: 0;
}

.popup-wrapper {
  height: 100vh;
  contain: content;
}

.popup-close-button {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: larger;
  cursor: pointer;
  font-weight: 900;
}

.popup-header img {
  height: 12rem;
  width: 12rem;
}

textarea {
  max-height: 350px;
}

footer {
  background-color: rgb(243, 243, 243);
  width: 100%;
  padding: 0.7rem;
}

#items {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
}

.artElement {
  width: 90%;
  margin: 15px 0;
  background-color: #eee;
}

.artElement .imgDiv {
  width: 100%;
  height: 250px;
}

.like {
  width: 20px;
}

.artElement .imgDiv img {
  width: 100%;
  height: 250px;
}

.artTitle {
  font-style: italic;
  height: 60px;
  font-size: 15px;
  line-height: 18px;
}
